/*
GLOBAL
*/
.heading-site {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 34px;
    padding-top: 14px;
}

/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    position: relative;
    top: 0;
    z-index: 99;
}

.header .nav {
    position: fixed;
    width: 100%;
    top: 0;
}


.header .header-logo {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #FFFFFF;
}

.header .header-menu a:hover {
    color: #FFC312;
}

/*
BANNER
*/
.banner {
    margin-top: -150px;
}

.banner .banner-image {
    width: 100%;
    height: 800px;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #FFFFFF;
}

/*
ABOUT
*/
.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin: 20px;
}

/*
FOOTER
*/
.footer {
    background-color: #dfe6e9;
    margin-top: 54px;
    position: absolute;
    width: 100%;
    margin-top: 80px;
}

.footer .footer-informations {
    text-align: center;
    margin-top: 30px;
}

.footer .footer-informations ul {
    padding: 0;
}

.footer .footer-informations ul li {
    display: inline-block;
    list-style-type: none;
}

.footer .footer-informations ul li i {
    font-size: 50px;
    padding: 20px;
}


/*
MODAL
*/
.own-modal {
    padding-top: 250px;
}